/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.site-logo {
    display: none;
}

.wrap-all {
	width: 940px;
	margin: 0 auto;
	border: solid 1px black;
}

.region-header-col-1 {
    display: inline;
    float: left;
    width: 20%;
}

.region-header-col-2 {
    display: inline;
    float: left;
    width: 60%;
}

.region-header-col-3 {
    display: inline;
    float: left;
    width: 20%;
}
.my-navbar li {
    float: left;
    list-style-type: none;
}

.my-navbar a {
    text-decoration: none;
    padding: 1em;
    background-color: #acc87f;
}

.my-navbar a:hover {
    background-color: #78A62F;
}

.region-flash img {
    width: 100%;
}

.figure {
    float: right;
}

.block {
    clear: both;
}
